aside {
    display: block;
    position: fixed;
    // margin-top: 6rem;
    min-height: 100vh;
    min-width: 150px;
    width: 200px;
    background-color: #35c9dd;

    ul {
        list-style-type: none;
        padding: 0;

        li {
            width: 100%;

            a {
                display: block;
                color: #333;
                text-decoration: none;
                padding: 15px;

                &:hover {
                    color: #35c9dd;
                    background-color: #333;
                }
            }
        }
    }
}